<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    
</head>
<body onmousemove="verifications()">
    <h1 style="padding-top: 10%; text-align: center">Welcome to the video trip generator, plis upload the files that you want us to use to make your video!!</h1>
    <div class="form-group" style="padding-top: 40%; margin-left: 0%;">
        <input type="file" class="form-control-file" id="inputFiles" aria-describedby="fileHelp" multiple style=" margin-left: 15%"> 
        <small id="fileHelp" class="form-text text-muted" style=" margin-left: 5%">Select the Photos and Videos that yo want on your trip video.</small>
        <button type="button" id="makeVideoButton" class="btn btn-primary disabled" style=" margin-top: 75%; margin-left: 35%">Make Video!!!</button>
    </div>
    
    <script>
        function verifications(){
            if(document.getElementById("inputFiles").value != ''){
                document.getElementById("makeVideoButton").className = 'btn btn-primary'
            }
        }
                
    </script>
</body>
</html>